.forgot-password-page {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.forgot-password-page .login-wrapper {
  width: 100%;
  min-height: 25rem;
  justify-content: space-around;
}

.success-message {
  color: #50C878;
  font-weight: bold;
}

.send-mail-error {
  margin-top: 0;
}

.send-mail-info {
  margin-top: .5rem;
  height: 22px;
}

@media screen and (min-width: 1025px) {
  .forgot-password-page .login-wrapper {
    width: 40%;
  }

  .forgot-password-page {
    height: unset;
  }
}