.forgot-password-page {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.forgot-password-page .login-wrapper {
  width: 100%;
  min-height: 25rem;
  justify-content: space-around;
}

@media screen and (min-width: 1025px) {
  .forgot-password-page .login-wrapper {
    width: 40%;
  }

  .forgot-password-page {
    height: unset;
  }
}