.home-description {
  color: #fafafa;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  padding: 2rem 0;
  text-align: justify;
  line-height: 26px;
}

@media screen and (min-width: 1024px) {
  .home-description {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 10rem 2rem;
    line-height: 28px;
  }
}

@media screen and (min-width: 1600px) {
  .home-description {
    padding: 10rem 15rem;
  }
}