/* Configuration */

:root {
  --spinner-size: 50px;
  --spinner-ring-size: 10px;
  --spinner-speed: 1.5;
  --accent-color: #98C1E8;
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

/* Styles */

@property --spinner-start-angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@property --spinner-end-angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 360deg;
}

/* Thanks to @bramus for helping fix the deprecated fallback: https://x.com/bramus/status/1826608392821244227 */
@property --property-zero {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}


.loading {
  --_size: var(--spinner-size, 2em);
  --_ring-size: var(--spinner-ring-size, calc(var(--_size) / 10));
  --_duration: calc(2s / var(--spinner-speed, 1));
  box-sizing: border-box;

  width: var(--_size);
  height: var(--_size);
  margin-inline: 1em;
  border-radius: 100vmax;
  background:
    conic-gradient(transparent 0deg, transparent var(--spinner-start-angle), var(--accent-color) var(--spinner-start-angle), var(--accent-color) var(--spinner-end-angle), transparent var(--spinner-end-angle));
  mask-image: radial-gradient(transparent calc(var(--_size) / 2 - var(--_ring-size) - 1px), black calc(var(--_size) / 2 - var(--_ring-size)));
  animation: spinner calc(var(--_duration) / 0.6) ease-in-out infinite, spin var(--_duration) linear infinite;

  /* remove border if @property is supported */
  border: var(--property-zero, var(--_ring-size)) solid color-mix(in hsl, currentcolor 10%, transparent);
  border-top: var(--property-zero, var(--_ring-size)) solid var(--accent-color);


}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    --spinner-start-angle: 0deg;
    --spinner-end-angle: 10deg;
  }

  50% {
    --spinner-start-angle: 35deg;
    --spinner-end-angle: 315deg;
  }

  100% {
    --spinner-start-angle: 350deg;
    --spinner-end-angle: 360deg;
  }
}

/* Global */
body {
  background-color: white;


  @media (prefers-color-scheme: dark) {
    background-color: #222;
  }
}