@media screen and (min-width: 1024px) {
  .login-register-page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 7rem;
  }
}

.login-to-save-roadmap {
  background-color: #98E8BF;
  width: fit-content;
}